<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="helloworld_post_listing_data_source" xsi:type="string">helloworld_subscription_collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Packt_HelloWorld::productName" type="Packt\HelloWorld\Plugin\Catalog\ProductAround" sortOrder="1" disabled="false" />
    </type>
    <virtualType name="helloworld_subscription_collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">packt_helloworld_subscription</argument>
            <argument name="resourceModel" xsi:type="string">Packt\HelloWorld\Model\ResourceModel\Subscription</argument>
        </arguments>
    </virtualType>
</config>
